<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Find Duplicates</title>
</head>
<body>
 
    <form action="/api/check_paranthese" method="post" id="form1">
        Enter String: <input type="text" name="fname"><br>
    </form>

<button type="submit" form="form1" value="Submit">Submit</button>
<div>
   Oreder of Paranthses: {{str}}
</div> 
<a href='/'> Go to Home
</a>
</body>
</html>